@font-face {
    font-family: myFirstFont;
    src:
        url('./D-DIN.otf') 
        format('opentype');
}
canvas {
    position: fixed; /* 固定在窗口 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 使鼠标事件穿透 */
    z-index: 9999; /* 设置较高的 z-index */
}
.column.left{
    width: 30%;
    font-family: myFirstFont;
    font-size: 15px;
    padding: 30px;
    text-align: justify;
    line-height: 1.5;
    /* display: inline-block; */
    float: left;
    position: fixed;
    top: 10px;
}
.logo{
    position: absolute;
    position:fixed;
    top:60px;
    left:20px;
    transform: rotate(10deg);
    transform-origin: right;
}

.more{
    position:fixed;
    bottom:0;
    left:165px;
    /* transform: rotate(90deg); */
    /* transform-origin: right bottom;  */
}

.moremore{
    position:fixed;
    bottom:0;
    left:10px;
    transform: scaleY(1);
    /* transform-origin: right bottom;  */
}

.column.right{
    width: 60%;
    font-family: myFirstFont;
    font-size: 18px;
    /* display: inline-block; */
    vertical-align: top;
    float: right;
}
.ProjectAtext, .ProjectBtext, .ProjectCtext, .ProjectDtext, .ProjectADDtext{
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin: -20px;
}
