body{
    font-family: Arial, sans-serif;
}

.container{
    position: relative;
    text-align: center;
}

.container img{
    width: 100%;
    height:100%;
}

.container anest-links-1{
    position: absolute;
    top: 5%;
    left: 5%;
}

.container anest-links-2{
    position: absolute;
    top: 50%;
    left:50%;
}