@font-face {
    font-family: myFirstFont;
    src:
        url('./D-DIN.otf') 
        format('opentype');
}

/* .container{
    clear: both;
}

.container::before, .container::after{
    content: '';
    display: table;
    clear: both;
} */

.column.left{
    width: 30%;
    font-family: myFirstFont;
    font-size: 15px;
    padding: 30px;
    text-align: left;
    line-height: 1.5;
    display: inline-block;
    float: left;
    position: fixed;
    top: 10px;
}
.logo{
    position: absolute;
    position:fixed;
    top:60px;
    left:20px;
    transform: rotate(10deg);
    transform-origin: right;
}

.more{
    position:fixed;
    bottom:0;
    left:95px;
    /* transform: rotate(90deg); */
    /* transform-origin: right bottom;  */
}

.column.right{
    width: 60%;
    font-family: myFirstFont;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.ProjectAtext{
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin: -20px;
}
.ProjectBtext{
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin: -20px;
}
.ProjectCtext{
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin: -20px;
}
.ProjectDtext{
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin: -20px;
}
.ProjectADDtext{
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: left bottom;
    margin: -20px;
}
